@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* .NavinputDiv{
  @apply flex gap-3 bg-white w-[190px] rounded-md border-1 py-[12px] px-[10px] items-center;
}, */
.Navinput{
  @apply text-xs outline-none border-none ;
}
.text-content{
  @apply text-3xl font-bold bg-primary p-2  rounded-full flex items-center justify-center text-white w-[50px] hover:bg-gray-300 hover:text-black shadow-lg shadow-gray-400  hover:shadow-none;
}
.btn{
  @apply bg-primary py-2 px-6 rounded-md text-white shadow-md hover:shadow-gray-500 hover:bg-secondary hover:text-black transition-all duration-300 ;
}
.btnText{
  @apply bg-primary  rounded-md text-white shadow-md hover:shadow-gray-500 hover:bg-secondary hover:text-black transition-all duration-300 ;
}

body{
  *{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", serif;
    max-width: 1440px;
    
  }

  
}